{% extends "layout.html" %}
{% from "helpers/form.html" import render_field %}

{% block headtitle %} Configuration{% endblock %}
{% block body %}
    <h1>Health Status Dashboard - First Configuration</h1>

    <ol>
        <li>Configure your administrative username and password.</li>
        <li>Login.</li>
        <li>Configure the desired modules and authorize this app to use the APIs.</li>
        <ol>
            <li>Withings</li>
            <li>Twitter</li>
            <li>Tumblr</li>
        </ol>
    </ol>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.username) }}
            {{ render_field(form.email) }}
            {{ render_field(form.password1) }}
            {{ render_field(form.password2) }}
        </dl>

        <button type="submit">Submit</button>
    </form>

    <!-- Javascript -->
    <!--
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-forms/0.12.0/backbone-forms.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/installer.js') }}"></script>
    -->
{% endblock %}
