{% extends "layout.html" %}
{% from "helpers/form.html" import render_field %}

{% block headertitle %} Remember Password{% endblock %}

{% block body %}
    <h1>Health Status Dashboard - Remember Password</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}

        {% if form.errors.global %}
            <p>{{ form.errors.global }}</p>
        {% endif %}

        <dl>
            {{ render_field(form.email) }}
        </dl>

        <button type="submit">Submit</button>
    </form>
{% endblock %}
