{% extends "layout.html" %}
{% from "helpers/form.html" import render_field %}

{% block headtitle %} Reset Password{% endblock %}
{% block body %}
    <h1>Health Status Dashboard - Reset Password</h1>

    <ol>
        <li>Configure your administrative and password.</li>
    </ol>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.password1) }}
            {{ render_field(form.password2) }}
        </dl>

        <button type="submit">Submit</button>
    </form>
{% endblock %}
